*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #258afe;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  background-color: white;
}

.image {
  width: 700px;
}

.form {
  width: 100%;
  max-width: 400px;
}

.form-title {
  text-align: center;
}

.form-input {
  width: 100%;
  padding: 16px 8px;
  margin-bottom: 20px;
}

.form-button {
  width: 100%;
  padding: 16px 8px;
  border: none;
  color: white;
  font-weight: bold;
  background-color: #258afe;
  cursor: pointer;
}
